:root{
    --bodyFont: 'Nunito', sans-serif;;
    --headerFont: 'Noto Sans', sans-serif;
    --darkGrey: rgb(44, 42, 39);
    --lightGrey: rgb(228, 228, 228);
    --darkRed: rgb(161, 46, 33);
    --yellow: rgb(246, 210, 78);
    --boxShadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

body{
    font-family: var(--bodyFont);
    font-size: 14px;
    color: var(--darkGrey);
    background: rgb(245, 245, 245);;
}

a{
    color: white;
    text-decoration: none;
}

h2{
    font-family: var(--headerFont);
}

/* HEADER */

.main-header {
    height: 80vh;
    background: url('../img/header-cover.jpg')
                center center / cover            
                no-repeat;
    display: flex;
}

/* header welcome */

.header-welcome{
    width: 60%;
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.header-welcome > p {
    font-family: var(--headerFont);
    font-size: 4em;
    margin: 0;
    font-weight: 700;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.2em;
    font-weight: 800;
}

h1 .name {
    color: var(--darkRed);
}

h1 .role{
    font-family: var(--bodyFont);
    font-weight: 400;
    font-size: 0.7em;
}

/* header photo */

.img-container {
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left: calc(60% - 140px);
    align-self: center;
    box-shadow: 10px 10px 88px -17px rgba(0,0,0,0.75);
}

.img-container img {
    width: 100%;
    height: auto;
}

/* header mousescroll */

.mouse {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 50px;
    border: 1.4px solid white;
    border-radius: 25px;
    margin: -10px;
    align-self: flex-end;
    opacity: 0.6;
}

.mouse::after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 2.5px);
    top: 4px;
    width: 5px;
    height: 5px;
    background: rgb(255,255,255,0.8);
    border-radius: 50%;
    animation: scrolldown 1s linear infinite;
}

/* header links */

.header-links {
    background: rgb(246, 210, 78,0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    width: 40%;
}

.links-nav{
    text-align: right;
    font-weight: 600;
    letter-spacing: .2px;
}


.links-nav ul{
    list-style: none;
    padding: 10px;
    font-size: 0;
}

.links-nav ul li{
    display: inline-block;
    margin: 10px 30px;
    font-size: 14px;
}

.links-nav a {
    transition: border .2s ease-in;
    border-top: 2px solid transparent;
}

.links-nav a:hover {
    border-top: 2px solid white;
}

.links-social{
    text-align: right;
    margin-right: 30px;
    font-family: var(--headerFont);
}

.links-social > span {
    padding: 3px;
    padding-left: 30px;
    margin-bottom: 30px;
    letter-spacing: .5px;
    border-bottom: 1px solid white;
}

.links-social > ul {
    list-style: none;
    font-size: 0;
}

.links-social ul li{
    display: inline-block;
    font-size: 1.5rem;
    padding: 10px;
}

.links-social a {
    transition: color .1s linear;
}

.links-social a:hover{
    color: rgb(255, 255, 255, 0.5);
}

/* MAIN */

.main-wrapper {
    width: 80%;
    margin: 0 auto;
}

/* main  introduction */

.introduction {
    text-align: center;
    font-family: var(--headerFont);
    font-weight: 700;
    margin: 30px 0;
}

.introduction a {
    display: inline-block;
    color: var(--darkRed);
    padding: 10px 50px;
    border: 1px solid var(--darkRed);
    border-radius: 20px;
    margin: 10px;
    font-size: 0.9em;
    transition: all .1s linear;
}

.introduction a.filled {
    background: var(--darkRed);
    color: white;
}

.introduction a:hover {
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.introduction a.filled:hover {
    color: white;
    background: var(--yellow);
    border: 1px solid var(--yellow);
}

/* main  about */

.about{
    text-align: center;
    margin: 50px;
}

.about-wrapper{
    width: 95%;
    box-sizing: border-box;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    box-shadow: var(--boxShadow);
    background: white;
}

.personal-info{
    width: 35%;
    border-right: 1px solid var(--lightGrey);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-info{
    font-weight: 600;
}

.personal-info p{
    margin: 0;
    line-height: 2.2em;
}

.personal-info .info{
    color: var(--darkRed);
    font-family: var(--headerFont);
    font-weight: 800;
}

.personal-description {
    width: 65%;
    box-sizing: border-box;
    padding: 15px;
    padding-right: 50px;
    text-align: left;
    line-height: 1.7em;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.personal-description p{
    margin: 0;
}

/* SKILLS */

.skills {
    text-align: center;
    margin: 50px;
}

.skills-wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.hard-skills,
.soft-skills{
    width: 47%;
    min-height: 200px;
    box-shadow: var(--boxShadow);
    background: white;
    padding: 5px 40px;
    box-sizing: border-box;
}

.skills h3 {
    font-family: var(--headerFont);
    margin: 10px;
}

.skills .underline {
    border-bottom: 1.5px solid var(--yellow);
}

.single-skill {
    text-align: left;
    font-size: .9em;
    margin: 20px 0;
}

.single-skill h4 {
    margin: 5px;
}

.single-skill .skill-bar {
    width: 100%;
    height: 7px;
    background: var(--lightGrey);
    border-radius: 3px;
    position: relative;
}

.single-skill .skill-bar::before {
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    background: var(--yellow);
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.single-skill .skill-bar::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: rgb(244, 215, 107) ;
    border-radius: 50%;
    position: absolute;
    left: calc(100% - 6px);
    top: -2.5px;
}

.single-skill .skill-bar.good::before {
    width: 75%;
}

.single-skill .skill-bar.good::after {
    left: calc(75% - 6px);
}

.single-skill .skill-bar.medium::before {
    width: 50%;
}

.single-skill .skill-bar.medium::after {
    left: calc(50% - 6px);
}


@keyframes scrolldown{
    from {top: 4px; opacity: 1;}
    to {top: 25px; opacity: 0;}
}





